.welcome {
	text-align: center;
	margin: 90px auto 0 auto;
	font-size: 30px;
	color: #7B7554;
  }

  .search-form {
	  text-align: center;
	  margin: 0 auto;
	  color: #A11692;
	  

	}
	input {
		margin: 0 10px;
		color: #A11692;
  }