.brewPage {
    background-image: url(./markus-spiske-1050317-unsplash.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 82px;
    text-align: center;
}
.brewery-info {
    text-align: center;
    color: #FFB49A;
    text-shadow: -0.25px -0.25px 0 #000, 0.25px -0.25px 0 #000,
        -0.25px 0.25px 0 #000, 0.25px 0.25px 0 #000;
    margin-top: 40px;
}
a {
    text-decoration: none;
    color: #FFB49A;
    /* color:  */
}

.container {
    background-color: #17183b;
    opacity: 0.9;
    width: 600px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2%;
    /* the box-shadow came from w3schools */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    text-align: center;
}
h1 {
	color: #ff4f79;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 40px;
}
